        <ul id="tab" class="nav nav-tabs">
          <li class="active"><a href="#examinado" data-toggle="tab">Examinado</a></li>
          <li><a href="#solicitante" data-toggle="tab">Solicitante</a></li>
          <li><a href="#becacredito" data-toggle="tab">Beca Credito</a></li>
          <li><a href="#informacion" data-toggle="tab">Informacion Personal</a></li>
            <li><a href="#direccion" data-toggle="tab">Dirección</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Intereses <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#interesbasico" data-toggle="tab">Interes Basico</a></li>
                <li><a href="#interesacademico" data-toggle="tab">Interes Academico</a></li>
              </ul>
            </li>            
            <li><a href="#medio" data-toggle="tab">Medio de Contacto</a></li>
            <li><a href="#plandescuentos" data-toggle="tab">Plan de descuentos</a></li> 
            <li><a href="#history<%=@examinado.solicitantes.first.prospectos.first.id%>" data-toggle="tab">Historial</a></li>           
            <!--<li><a href="#compartido" data-toggle="tab">Compartido</a></li>-->
        </ul>
        <div id="myTabContent" class="tab-content">
          <%=render :partial=>"shared/history", :locals=>{:model_name=>"prospectos",:model_id=>@examinado.solicitantes.first.prospectos.first.id, :parent_model=>nil}%>