<h1>Tipo De Admision</h1>

<p>
  <b>Valor</b><br>
  <%= @tipo_de_admision.valor %>
</p>

<div class="form-actions">
  <%= link_to 'Back', tipo_de_admisions_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_tipo_de_admision_path(@tipo_de_admision), :class => 'btn' %>
  <%= link_to 'Delete', tipo_de_admision_path(@tipo_de_admision), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
