<h1>Preparatoria O Universidad De Origen</h1>

<p>
  <b>Valor</b><br>
  <%= @preparatoria_o_universidad_de_origen.valor %>
</p>

<div class="form-actions">
  <%= link_to 'Back', preparatoria_o_universidad_de_origens_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_preparatoria_o_universidad_de_origen_path(@preparatoria_o_universidad_de_origen), :class => 'btn' %>
  <%= link_to 'Delete', preparatoria_o_universidad_de_origen_path(@preparatoria_o_universidad_de_origen), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
