<p>Haz agregado un nuevo prospecto</p>
<p>Puedes editar el prospecto haciendo click <%=link_to "aqui", edit_prospecto_url(@prospecto)%>.</p>
<p>Puedes validar al prospecto dando click <%=link_to "aqui", validar_url(@prospecto)%>.</p>