<h1>Municipio De La Preparatoria O Universidad De Origen</h1>

<p>
  <b>Valor</b><br>
  <%= @municipio_de_la_preparatoria_o_universidad_de_origen.valor %>
</p>

<div class="form-actions">
  <%= link_to 'Back', municipio_de_la_preparatoria_o_universidad_de_origens_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_municipio_de_la_preparatoria_o_universidad_de_origen_path(@municipio_de_la_preparatoria_o_universidad_de_origen), :class => 'btn' %>
  <%= link_to 'Delete', municipio_de_la_preparatoria_o_universidad_de_origen_path(@municipio_de_la_preparatoria_o_universidad_de_origen), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
