<p id="notice"><%= notice %></p>

<p>
  <b>Valor:</b>
  <%= @duracion_en_texto.valor %>
</p>


<%= link_to 'Edit', edit_duracion_en_texto_path(@duracion_en_texto) %> |
<%= link_to 'Back', duracion_en_textos_path %>
