<h1>Status De La Inscripcion</h1>

<p>
  <b>Valor</b><br>
  <%= @status_de_la_inscripcion.valor %>
</p>

<div class="form-actions">
  <%= link_to 'Back', status_de_la_inscripcions_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_status_de_la_inscripcion_path(@status_de_la_inscripcion), :class => 'btn' %>
  <%= link_to 'Delete', status_de_la_inscripcion_path(@status_de_la_inscripcion), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
