<p>Hola <%= @resource.username %>!</p>

<p>Alguien a intentado pedir un link para cambiar tu password, puedes cambiar tu password haciendo click en el link al final de este correo</p>

<p><%= link_to 'Cambiar password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si tu no pediste este cambio ignora este correo y reportalo a tu administrador.</p>
<p>Tu password no cambiara hasta que accedas al link de arriba y crees un nuevo password.</p>
