        <ul id="tab" class="nav nav-tabs">
          <li class="active"><a href="#mercadometa" data-toggle="tab">Mercado Meta</a></li>
          <li><a href="#estrategia" data-toggle="tab">Estrategias Promocionales</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">