<A HREF="javascript:window.print()">Has click aqui para imprimir la pagina</A>
<h1><%= @memo.nombre %></h1>

<div class="">
<fieldset>
<p>
  <b>Nombre de la Nota</b><br>
  <%= @memo.nombre %>
</p>

<p>
  <b>Descripción</b><br>
  <%= @memo.descripcion %>
</p>
</fieldset>
</div>
</div>
